/*
 * Clean working keymap for Corne Mini - compatible with ZMK
 */

 / {
    chosen { zmk,physical-layout = &foostan_corne_5col_layout; };

    combos {
        compatible = "zmk,combos";

        next_tab {
            bindings = <&kp LC(TAB)>;
            key-positions = <20 21>;
        };

        prev_tab {
            bindings = <&kp LC(LS(TAB))>;
            key-positions = <19 20>;
        };

        new_tab {
            bindings = <&kp LC(T)>;
            key-positions = <33 32>;
        };

        delete_tab {
            bindings = <&kp LC(W)>;
            key-positions = <32 31>;
        };

        close_program {
            bindings = <&kp LA(F4)>;
            key-positions = <32 33 31>;
        };

        open_terminal {
            bindings = <&kp LC(LA(T))>;
            key-positions = <3 2 4>;
        };

        switch_program {
            bindings = <&kp LA(TAB)>;
            key-positions = <19 20 21>;
        };

        next_virtual {
            bindings = <&kp LA(RIGHT)>;
            key-positions = <16 15>;
        };

        prev_virtual {
            bindings = <&kp LA(LEFT)>;
            key-positions = <14 15>;
        };

        right_monitor {
            bindings = <&kp LS(LG(RIGHT))>;
            key-positions = <3 16>;
        };

        left_monitor {
            bindings = <&kp LS(LG(LEFT))>;
            key-positions = <3 14>;
        };

        window_next_desktop {
            bindings = <&kp LS(LG(PAGE_UP))>;
            key-positions = <27 28>;
        };

        window_prev_desktop {
            bindings = <&kp LS(LG(PAGE_DOWN))>;
            key-positions = <26 27>;
        };

        snap_right {
            bindings = <&kp LG(RIGHT)>;
            key-positions = <8 9>;
        };

        snap_left {
            bindings = <&kp LG(LEFT)>;
            key-positions = <8 7>;
        };

        maximize {
            bindings = <&kp LG(UP)>;
            key-positions = <9 7 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
                &trans  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &trans
                &trans  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SQT &trans
                &trans  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp LCTL &kp LALT &kp DOT &trans
                          &kp LGUI  &kp TAB  &kp SPACE  &kp ESC  &kp ENTER  &kp BSPC  &trans
            >;
        };

        layer_1 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans
                          &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans  &trans
                          &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
